body {
  background: #A3C1E7;
  text-align: center;
}

.weather_body{
  background: white;
  width: 25%;
  margin: auto;
  border-radius: 5px;
}
.weather_buttons_container {
  padding: 5px;
}

.title_container {
  background: white;
  width: 40%;
  margin: 10px auto auto auto;
  border-style: double;
  border-radius: 5px;
  color: #A3C1E7;
}

.weather_button {
  width: 20%;
}

.weather_results {
  padding: 5px;
}

.weather_input {
  margin: 5px;
  padding: 5px;
  width: 20%;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.weather_title {
  border-bottom: 1px solid lightgray;
  padding: 5px;
}

.weather_result_error {
  color: red;
}