@media only screen and (max-width: 1100px) {
    .balloon_gif {
        display: none;
    }

    .weather_input {
        width: 100%;
    }

    .title_container {
        width: 100%;
    }

    .weather_button {
        width: 80%;
    }
}